.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  color: black;
}

.logo{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.chatbox{
  width: 800px;
  height: 650px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  gap: 2rem;
}

.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  word-wrap: break-word;
}

.user{
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.bot{
  background-color: #3308c1;
  align-self: flex-start;
}

.inputContainer{
  display: flex;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.input{
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.sendButton {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.sendButton:hover {
  background-color: #218838; /* Darker green on hover */
}

.clearButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.clearButton:hover {
  background-color: #e60000; /* Darker red for hover effect */
}

.btn{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cards{
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
}

.card{
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: 250px;
  height: 180px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(246, 242, 242, 0.755);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  gap: 1rem;
  cursor: pointer;
}

.card:hover{
  background-color: white;
}
.clicked{
  background-color: white;
}

.btnOutline {
  display: flex;
  justify-content: center; 
  margin-top: 2rem;
}

.continueBtn {
  min-width: 200px;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #007bff;
  color: white; 
  cursor: pointer;
  border: none; 
}

@media (max-width: 600px){
  .cards{
    grid-template-columns: 1fr;
  }
}

